## notebook

## my frist homework

## list data science languages:
-Python
-R
-SQL
#anther languages:
-Java
-C+
-Scala
-Julia

#list data science libraries
-Pandas
-NumPy
-Matplotlib
-Seaborn
-Scikit-Learn

## Data Science Tools

| Tool                        | Description                                                   |
|-----------------------------|---------------------------------------------------------------|
| MySQL and PostgreSQL         | Open-source relational database management systems (RDBMS)    |
| IBM Db2 and SQL Server       | Commercial relational database management systems (RDBMS)     |
| MongoDB and Apache Cassandra | NoSQL database examples                                        |
| Apache Hadoop and Spark      | Tools for big data analytics                                  |

## Arithmetic Expression Examples
In data science, arithmetic expressions are used to perform mathematical operations like addition and multiplication.

In [6]:
a = 12
b = 21
c = 12+21
d = 12*21
print("12+21=", c)
print("12x21=", d)

12+21= 33
12x21= 252

In [12]:
m=360
print(f"{m} minutes = {m/60} hours")

360 minutes = 6.0 hours

# list Objectives
- Learn about programming languages used in data science.
- Understand libraries and tools used for data science tasks.
- Implement basic arithmetic operations in Python.

# Authorâ€™s name
- Abdullah ALHAMOUDI